# Shared secret key
SECRET_KEY=supersecretkey

# app.py configuration
APP_EMAIL_SENDER=your_email@example.com
APP_EMAIL_PASSWORD=your_app_password

# main.py configuration
MAIN_EMAIL_SENDER=your_email@example.com
MAIN_EMAIL_PASSWORD=your_app_password
